.content-wrapper {
    display: flex;
}

.content {
    width: 70%;
}

.sidebar {
    width: 30%;
    text-align: left;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar ul li {
    margin: 10px 0;
    transition: margin-left 0.3s ease;
}

.sidebar ul li:hover {
    margin-left: 10px;
}


