.footer ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer ul li img {
    width: 32px;
    height: 32px;
    margin: 0 5px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.footer ul li img:hover {
    opacity: 1;
}

.footer ul li:first-child {
    margin: auto;
    font-size: 0.9em;
    font-weight: bold;
    opacity: 0.5;
}
