.playlist {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    background: gray;
    padding-top: 5px;
}

.song {
    color: white;
    font-size: 1.5em;
    margin-bottom: 3px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    max-width: 60px;
    width: 100%;
    margin: 2px;
    cursor: pointer;
}