@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@500&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    margin: 0 auto;
    width: 800px;
    min-height: 800px;
    background-color: white;
}